* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    gap: 0px;
}

.black {
    background-color: black;
    height: 90px;
    width: 90px;
    margin: 0px;
}

.red {
    background-color: red;
    height: 90px;
    width: 90px;
    margin: 0px;
}

.row {
    display: flex;
    margin-left: 10%;
    padding: 0px;
    border: 0px;
    gap: 0px;
}